<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/css/style.css" />
    <title>Jedi Clicker</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/Jedi-Clicker-Favicon.png">
</head>

<body>

    {{{body}}}

    <footer>
        <p>This game app was created as part of a Programming class project. No money was or will be made from this.
            This is made purely for educational purposes with no intention to infringe on any trademark or copyrighted
            material.</p>
    </footer>

    <script src="/js/logout.js"></script>
    <script src="/js/click.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/auto-click.js"></script>
</body>

</html>