<main>
    <div id="homepage">
      <img class="homelogo" src="/assets/images/Jedi-Clicker-Logo.png" />
      <button id="backHomeButton" class="logout-button">Logout</h1></button>
      <div id="chooseGame">
        <h1>There are no sidelines.
          <br />
          You must choose a side!
        </h1>
        &nbsp;
        <div>
          <a href="/light-homepage"><img class="rebellion" src="/assets/images/The-Rebellion-Logo.png" /></a>
          <a href="/dark-homepage"><img class="empire" src="/assets/images/The-Empire-Logo.png" /></a>
        </div>
      </div>
  </main>