    <main>
        <div id="left">
            <div id="logo">
              <img class="logo" src="/assets/images/Jedi-Clicker-Logo.png" />
            </div>
            <div id="upgradesBought">
            {{#each gameData}}
                {{#each this}}
                  {{#each this}}
                    <p>{{name}}</p>
                  {{/each}}
                {{/each}}
              {{/each}}
            </div>
        </div>

        <div id="center">
            <div id="credits">
              <h2 class="credits">Credits: {{gameData.0.galactic_credits}}</h2>
            </div>
            <div id="enemy">
              <img class="enemy" src="/assets/images/Dark-Enemy.png" />
            </div>
        </div>

        <div id="right">
            <div id="storeTitle">
              <h2 class="storeTitle">Store</h2>
            </div>
            <div id="upgrades">
              {{#each gameData}}
                {{#each this}}
                  {{#each this}}
                    {{#each this}}
                  <p>{{name}}</p> <br>
                    {{/each}}
                  {{/each}}
                {{/each}}
              {{/each}}
            </div>
        </div>
    </main>
