    <main>
        <div id="left">
            <div id="logo">
              <img class="logo" src="../public/assets/images/Jedi-Clicker-Logo.png" />
            </div>
            <div id="upgradesBought">
              {{bought}}
            </div>
        </div>

        <div id="center">
            <div id="credits">
              <h2 class="credits">Credits: {{credits}}</h2>
            </div>
            <div id="enemy">
              <img class="enemy" src="../public/assets/images/Dark-Enemy.png" />
            </div>
        </div>

        <div id="right">
            <div id="storeTitle">
              <h2 class="storeTitle">Store</h2>
            </div>
            <div id="upgrades">
              {{store}}
            </div>
        </div>
    </main>
