<main>
    <div id="loginpage">
        {{#unless incorrectLogin}}
        <a href="./"><img class="loginlogo" src="../assets/images/Jedi-Clicker-Logo.png" /></a>
        {{/unless}}
        {{#if incorrectLogin}}
        <a href="./"><img class="loginlogo" src="../../assets/images/Jedi-Clicker-Logo.png" /></a>
        {{/if}}
        <div id="loginOrCreate">
            <div id="loginDiv">
                <h2>Login</h2>
                <form id="loginForm" action="/api/users/login" method="post">
                    <div class="container">
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>

                        <button type="submit" id="loginButton">Login</button>

                        {{#if incorrectLogin}}
                        <p id="incorrect-login-alert">Incorrect username or password!</p>
                        {{/if}}
                    </div>
                </form>
            </div>

            <div id="createDiv">
                <h2>Create Account</h2>
                <form id="createForm" action="/api/users" method="post">
                    <div class="container">
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>

                        <button type="submit" id="createButton">Create Account</button>

                        {{#if usernameExists}}
                        <p id="taken-username-alert">Username already taken!</p>
                        {{/if}}
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</main>

<script src="/js/login-alerts.js"></script>