<main>
    <div id="loginpage">
        <img class="loginlogo" src="../assets/images/Jedi-Clicker-Logo.png" />
        <div id="loginOrCreate">
            <div id="loginDiv">
                <h2>Login</h2>
                <form action="/" method="post">
                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button type="submit" id="loginButton">Login</button>
                    </div>
                </form>
            </div>

            <div id="createDiv">
                <h2>Create Account</h2>
                <form action="/" method="post">
                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <label for="psw-repeat"><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

                        <button type="submit" id="createButton">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>